%% rebar.config

{erl_opts, [debug_info]}.
{deps, []}.

%% Hook to compile the C port program automatically
{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

%% --- NEW: Documentation Setup ---
{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE.md", #{title => "License"}},
        {"guides/understanding_serial.md", #{title => "Introduction"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/Fantarina/serierl"} %% CHANGE THIS TO YOUR REPO
]}.


{relx, [
    %% 'semver' tells Rebar3 to use the latest Git tag (e.g., v0.1.0) 
    %% as the release version automatically.
    {release, {serierl, semver}, [
        serierl,
        sasl
    ]},
    {mode, dev},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true}
        ]}
    ]}
]}.

{provider_hooks, [
    {post, [
        {release, ex_doc}
    ]}
]}.